.dash {
  height: calc(100vh - 15vh);
  grid-area: dash;
  display: flex;
  justify-content: start;
  padding-bottom: 10vh;
  width: calc(100vw - 15vw);
  overflow-y: scroll;
  background:#F5F6FA;
  overflow-x: hidden; 
  flex-direction: column; 
  gap: 3vh;

  }   


  .cabecalho  , .notification-area{
    background:#F5F6FA;
  } 
  .notification-img {
    background-color: rgb(215, 215, 215);
  }
  .cabecalho  , .notification-area{
    background:#F5F6FA;
  } 
  .notification-img {
    background-color: rgb(215, 215, 215);
  }
  .geral-view {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 1vh;
  }
  .total-leads {
    background-color: black;
    width: 30%;
    border-radius: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vh; 
    height: 23vh;
  }
  .total-view {
    background-color: #FFFFFF;
    width: 22%;
    color: white;
    height: 90%;
    border-radius: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vh; 
    height: 23vh;
  }
  .text-total-view {
    color: black;
    display: flex; 
    gap: 17vh;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 20%;
    padding: 2vh;
    padding-left: 4vh;
  }
 
  .text-total-lead {
    color: white;
    display: flex;
    gap: 17vh; 

    align-items: center;
    width: 100%; 
   
    position: relative;
    bottom: 20%;
    padding: 2vh;
    padding-left: 4vh;
  }
  .count {
    color: black;
    width: 100%;
    padding-left: 3vh;
    font-size: 4em;
  }
  .button-view-all-type-2 { 
    background-color: #F5F6FA;
    padding: 1vh;
    clip-path: circle();
  
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute; 
    left: 90%;
  }
  .button-view-all-type-2 img {
    height: 100%;
  }
  
  .button-view-all {
    background-color: white;
    padding: 1vh;
    clip-path: circle();
    cursor: pointer;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute; 
    left: 90%;
  }
  .button-view-all img {
    height: 100%;
  }
  .go-leads {
    cursor: pointer;
  }
  #leads-count {
    font-size: 4em;
    color: white;
    width: 100%;
    padding-left: 3vh;
  }
  .grafico-area {
    height: 82vh;
    width: 100%;
    display: grid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-areas:
      "graf1 graf2"
      "graf3 graf4";
  
    background: transparent;
  }
  .grafico-line {
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: graf1;
    width: 60%; 
    gap: 1vh;
    height: 40vh;
    border-radius: 50px;
    background-color: #FFFFFF;
    margin: 1vh;
  }
  .grafico-line canvas {
    height: 100%;
    width: 100%;
  }
  .grafico-bar {
    border-radius: 50px;
    margin: 1vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width:25%;
    grid-area: graf2;
    height: 40vh;
    background-color: #FFFFFF;
  }
  .grafico-bar canvas {
    height: 100%;
    width: 100%;
  }
  
  .grafico-more {
    border-radius: 50px;
    margin: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: graf3;
    height: 50vh;
    width: 40%;
    background-color: #FFFFFF;
  }
  
  .grafico-more canvas {
    height: 50vh;
  }
  
  .grafico-polar {
    border-radius: 50px;
    width: 50%;
    grid-area: graf4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 1vh; 
  
    background-color: #FFFFFF;
  }
  .grafico-polar canvas {
    height: 100%;
    width: 100%; 
   
  } 
  
  