<!--Modal de categorias-->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
aria-labelledby="offcanvasWithBothOptionsLabel">
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Adicionar Categoria</h5>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <form class="row gy-2 gx-3 align-items-center" action="/category/create/" method="post">
    <div class="col-auto">
      <label class="visually-hidden" for="autoSizingInput">Nome</label>
      <input required type="text" class="form-control" id="autoSizingInput" name="name" placeholder="Categoria">
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
  <ul class="list-group p-2">
    <li class="list-group-item active" aria-current="true">Categorias</li>
    <% categories.forEach(category=>{ %>
      <li class="list-group-item">
        <div class="modal-item-body d-flex  align-items-center justify-content-start flex-row">
          <%= category.name %>
            <a class="position-absolute end-0 h-25 w-25" href="/category/delete/<%=category._id %>"><button
                type="button" class="btn-close" aria-label="Close"></button></a>
        </div>

      </li>
      <% }) %>

  </ul>
</div>
</div>
